<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /hotrosv/admin/

    # Kiểm tra nếu không phải là một thư mục hoặc tập tin đã tồn tại
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Rewrite URL thành index.php
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>